body {
	font-family: Helvetica, Arial, sans-serif;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.new-post {
	padding: 16px;
	width: 50%;
	float: left;

	&__header {
		border: 2px solid #bdc3c7;
		color: #34495e;
		font-size: 15px;
		line-height: 1.467;
		padding: 8px 12px;
		height: 42px;
		border-radius: 6px;
		width: 50%;
		margin-bottom: 10px;
		&:focus {
			outline: none;
		}
		&_change {
			width: 100%;
			font-size: 29px;
			margin-bottom: 15px;
			line-height: 1.1;
			color: rgb(52, 73, 94);
		}
	}
	&__body {
		font-family: inherit;
		border: 2px solid #bdc3c7;
		color: #34495e;
		font-size: 15px;
		line-height: 1.467;
		padding: 8px 12px;
		height: 200px;
		border-radius: 6px;
		width: 75%;
		margin-bottom: 10px;
		&:focus {
			outline: none;
		}
		&_change {
			width: 100%;
			font-size: 18px;
			line-height: 1.7;
			margin: 0 0 15px;
			color: rgb(52, 73, 94);
		}
	}
}
.all-posts {
	width: 40%;
	float: left;
	margin-top: 25px;
	&__item {
		border-radius: 6px;
		margin-bottom: 25px;
		position: relative;
		padding: 30px 25px 30px;
		transition: all 1s ease;
		&:hover {
			background-color: lighten(#ECF0F1, 5%);
		}
		&:hover .one-post__close {
			display: block; 
		}
		&:hover .one-post__change {
			display: inline-block; 
		}
	}
	.one-post {

		&__header {
			font-size: 29px;
			margin-bottom: 15px;
			line-height: 1.1;
			color: rgb(52, 73, 94);
		}
		&__body {
			font-size: 18px;
			line-height: 1.7;
			margin: 0 0 15px;
			color: rgb(52, 73, 94);
			word-break: break-all;
		}

		&__close {
			position: absolute;
			top: 8px;
			right: 10px;
			color: #999;
			font-size: 24px;
			line-height: 1;
			cursor: pointer;
			display: none;
		}
		&__change {
			display: none;
			color: #3498DB;
			font-size: 12px;
			cursor: pointer;
		}
	}
	.delete-post {
		text-align: center;
		.btn {
			margin: 0 20px;
		}
	}
}
.btn {
	display: inline-block;
	border-radius: 6px;
	border: none;
	font-size: 15px;
	border-radius: 4px;
	padding: 10px 19px;
	cursor: pointer;
		&_primary {
			color: #ffffff;
			background-color: #1abc9c;
		}
		&_default {
			color: #ffffff;
			background-color: #bdc3c7;
		}
		&_block {
			display: block;
		}

	&:disabled {
		cursor: default;
		color: rgba(255, 255, 255, 0.75);
		opacity: 0.7;
		background-color: #bdc3c7;
		border-color: #bdc3c7;
	}
}
.hide {
	opacity: 0;
}