body {
  font-family: Helvetica, Arial, sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.new-post {
  padding: 16px;
  width: 50%;
  float: left; }
  .new-post__header {
    border: 2px solid #bdc3c7;
    color: #34495e;
    font-size: 15px;
    line-height: 1.467;
    padding: 8px 12px;
    height: 42px;
    border-radius: 6px;
    width: 50%;
    margin-bottom: 10px; }
    .new-post__header:focus {
      outline: none; }
    .new-post__header_change {
      width: 100%;
      font-size: 29px;
      margin-bottom: 15px;
      line-height: 1.1;
      color: #34495e; }
  .new-post__body {
    font-family: inherit;
    border: 2px solid #bdc3c7;
    color: #34495e;
    font-size: 15px;
    line-height: 1.467;
    padding: 8px 12px;
    height: 200px;
    border-radius: 6px;
    width: 75%;
    margin-bottom: 10px; }
    .new-post__body:focus {
      outline: none; }
    .new-post__body_change {
      width: 100%;
      font-size: 18px;
      line-height: 1.7;
      margin: 0 0 15px;
      color: #34495e; }

.all-posts {
  width: 40%;
  float: left;
  margin-top: 25px; }
  .all-posts__item {
    border-radius: 6px;
    margin-bottom: 25px;
    position: relative;
    padding: 30px 25px 30px;
    transition: all 1s ease; }
    .all-posts__item:hover {
      background-color: #fbfcfc; }
    .all-posts__item:hover .one-post__close {
      display: block; }
    .all-posts__item:hover .one-post__change {
      display: inline-block; }
  .all-posts .one-post__header {
    font-size: 29px;
    margin-bottom: 15px;
    line-height: 1.1;
    color: #34495e; }
  .all-posts .one-post__body {
    font-size: 18px;
    line-height: 1.7;
    margin: 0 0 15px;
    color: #34495e;
    word-break: break-all; }
  .all-posts .one-post__close {
    position: absolute;
    top: 8px;
    right: 10px;
    color: #999;
    font-size: 24px;
    line-height: 1;
    cursor: pointer;
    display: none; }
  .all-posts .one-post__change {
    display: none;
    color: #3498DB;
    font-size: 12px;
    cursor: pointer; }
  .all-posts .delete-post {
    text-align: center; }
    .all-posts .delete-post .btn {
      margin: 0 20px; }

.btn {
  display: inline-block;
  border-radius: 6px;
  border: none;
  font-size: 15px;
  border-radius: 4px;
  padding: 10px 19px;
  cursor: pointer; }
  .btn_primary {
    color: #ffffff;
    background-color: #1abc9c; }
  .btn_default {
    color: #ffffff;
    background-color: #bdc3c7; }
  .btn_block {
    display: block; }
  .btn:disabled {
    cursor: default;
    color: rgba(255, 255, 255, 0.75);
    opacity: 0.7;
    background-color: #bdc3c7;
    border-color: #bdc3c7; }

.hide {
  opacity: 0; }
