<!doctype html>
<html lang="ru" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/style.css">
	<script src="js/angular.js"></script>
</head>
<body>
	<div ng-controller="newPost" class="new-post">
		<form name="createPost">
			<input ng-model="post.head" name="title" class="new-post__header" placeholder="Введите заголовок поста" required>
			<textarea ng-model="post.body" name="body" class="new-post__body" placeholder="Введите текст поста" required></textarea>
			<input type="submit" value="Send" class="btn btn_block btn_primary" ng-click="sendPost(post)"  ng-disabled="createPost.$invalid||isDisabled">
		</form>
	</div>
	<div ng-controller="allPosts" class="all-posts">
		<div ng-repeat="post in posts" class="all-posts__item" ng-class="{hide:hide}" >
			<div class="one-post__close" ng-click="isDelete=!isDelete">×</div>
		<div class="one-post"  ng-hide="isDelete">
			<h2 class="one-post__header" ng-hide="isChange">
				{{post.head}} 
				<a class="one-post__change" ng-click="isChange=!isChange;savePost(post)" ng-hide="isChange">править пост</a>
			</h2>
			<aside class="one-post__body" ng-hide="isChange">
				{{post.body}}
			</aside>
			<!--Изменение поста-->
			<div ng-show="isChange">
				<input ng-model="post.head" class="new-post__header new-post__header_change">
				<textarea ng-model="post.body" class="new-post__body new-post__body_change" placeholder="Введите текст поста">
				</textarea>
				<div class="btn btn_primary" ng-click="refreshPost(post);isChange=!isChange">Refresh</div>
				<div class="btn btn_default" ng-click="post = oldVersionPost;isChange=!isChange">Cancel</div>
			</div>
			<!---->
		</div>
		<div ng-show="isDelete" class="delete-post">
			<div class="btn btn_default" ng-click="isDelete=!isDelete">не удалять</div>
			<div class="btn btn_primary" ng-click="deleteThisPost(post);hide=!hide">удалить пост</div>
		</div>
		</div>
	</div>
	<script src="js/ng-blog.js"></script>
</body>
</html>
